body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Change to any preferred font */
    background-color: #5e35b1; /* Deep purple background color */
    color: #fff; /* White text for better contrast */
}

.button-container {
    text-align: center;
}

button {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    background-color: #673ab7; /* Purple button color */
    color: #fff; /* White text for better contrast */
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #311b92; /* Darker purple on hover */
}
